<% var rootPATH = '../', contentsPATH = './top/', PATH = './', page = 'top'; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(rootPATH + 'inc/_style'); %>
<link href="<%- PATH %>assets/css/style.css" rel="stylesheet">
</head>
<body id="<%- page %>" class="">

<div id="wrapper" class="id_<%- page %>">
<div id="inner">

  <div class="mv">

    <!-- text -->
    <div class="boxWrap">
      <div class="box">
        <div class="tag tag01"><div class="inner">TRAVEL1</div></div>  
        <div class="text text1 text01">
          <div>Shun Kawakami est classe et inclassable, alors les marques l’ont remarqué</div>
        </div>
        <div class="subtext subtext01">
          <div class="inner">voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <div class="more more01"><div class="inner">MORE</div></div>
      </div>
    </div>
    <div class="boxWrap">
      <div class="box">
        <div class="tag tag02"><div class="inner">TRAVEL2</div></div>  
        <div class="text text1 text02">
          <div>De Tokyo la mégalopole aux  paysages préservés de Kochi,</div>
        </div>
        <div class="subtext subtext02">
          <div class="inner">magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
        </div>
        <div class="more more02"><div class="inner">MORE</div></div>
      </div>
    </div>
    <div class="boxWrap">
      <div class="box">
        <div class="tag tag03"><div class="inner">TRAVEL3</div></div>  
        <div class="text text1 text03">
          <div>seule une présence, le bruit des talons  hauts sur le bitume résonne à nos oreilles, le…,</div>
        </div>
        <div class="subtext subtext03">
          <div class="inner">magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </div>
        </div>
        <div class="more more03"><div class="inner">MORE</div></div>
      </div>
    </div>
    <div class="boxWrap">
      <div class="box">
        <div class="tag tag04"><div class="inner">TRAVEL4</div></div>  
        <div class="text text1 text04">
          <div>Les puissantes photographies d’Araki ébranlent l’esprit, le corps, et tous,</div>
        </div>
        <div class="subtext subtext04">
          <div class="inner">exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in </div>
        </div>
        <div class="more more04"><div class="inner">MORE</div></div>
      </div>
    </div>

    <!-- indicator -->
    <div class="indicator flex">
      <div class="item active"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>

  </div>

</div>
</div>

<script type="text/javascript">

  var path = './assets/resource/img/img0';
  var ext = '.jpeg';
  var len = 4;

  window.pen_TopSlider = [];

  for (var i = 0; i < len; i++) {
    
    var name = path + (i+1) + ext;
    window.pen_TopSlider.push(name);

  }

  // console.log(pen_TopSlider);

</script>
<%- include(rootPATH + 'inc/_script', {PATH: PATH}); %>
</body>
</html>