<% var rootPATH = './', PATH = './', page = 'top'; %>
<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
<head>
<%- include(rootPATH + 'inc/_style'); %>
<link href="<%- PATH %>assets/css/style.css" rel="stylesheet">
</head>
<body id="<%- page %>" class="">

<div id="wrapper" class="id_<%- page %>">
<div id="inner">

  <div class="text text1">
    <div>
      Shun Kawakami e,<br>alors les marqu
    </div>
  </div>

</div>
</div>

<%- include(rootPATH + 'inc/_script', {PATH: PATH}); %>
</body>
</html>